#dailyNote {
        transition: box-shadow 0.3s ease; /* gölge efektinin mause çıktıntan veya girdikten sonra kaç sn duracağını belirler */
        border-radius: 15px;
        margin-left: 1060px;
        background-color: bisque;
        border: 1px solid black;

}
#dailyNote:hover {
    box-shadow: 0 0 30px rgb(255, 255, 255); /* Gölge efekti */
    background-color: white;
  }
/* textarea ya fare üzerine geldiğinde gölge efekti koymasını sağlar      */
.box {
    margin-left: 1060px;
    width: 266px; 
    height: 200px; 
    background-color: bisque; 
    border: 1px solid black; 
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    overflow: auto;
    color: white;
    transition: box-shadow 0.3s;
    overflow-wrap: break-word;
  }
.box:hover{
    box-shadow: 0 0 30px;
    color: black;

  }
#header {
    margin-left: 1150px;
    color: bisque;

}
.saveBtn {
    cursor: pointer;
    border-radius: 10px;
    background-color: transparent;
    color: white;
    margin-left: 1330px;
    transition: box-shadow 0.3s;
    border: 2px solid pink;

}
.saveBtn:hover{
  box-shadow:  0 0 30px;
  background-color: pink;
}